# Python 
__pycache__/
*.py[cod]
*.so
*.pyd

# Packaging 
.Python
build/
dist/
sdist/
.eggs/
*.egg-info/

# Virtual environments 
venv/
.env
.venv/
env/

# Pytest 
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# Ruff 
.ruff_cache/

# MyPy 
.mypy_cache/

# IDEs / Editors 
.vscode/
.idea/
*.swp

# OS Files 
.DS_Store

# Local Data 
*.sqlite3
demo_data/*.tmp.json
